{
    "KCBasicCut": {
        "acceleration": 3000,
        "blade_type": "FINE_POINT",
        "cut_through_pressure": 0,
        "deform_compensation_x": 0,
        "deform_compensation_y": 0,
        "gradual_lead_in": 3,
        "gradual_lead_in_enable": true,
        "inner_shape_first": true,
        "kc_avoid_short_length": 1,
        "kc_cut_inout": 0.1,
        "kc_lead_in": 3,
        "kc_lead_out": 0.1,
        "kc_overcut": 1.2,
        "lead_in_pressure": 20,
        "number_of_passes": 2,
        "plate_lead_in": 3,
        "plate_turning": false,
        "plate_turning_pressure": 1,
        "pressure": 230,
        "round_radius": 2,
        "round_the_path": false,
        "small_area_size": 0.05,
        "speed": 35,
        "turning_angle_threshold": 120,
        "turning_pressure": 130,
        "turning_radius": 0.35,
        "u_acceleration": 20,
        "z_compensation_x": 0,
        "z_compensation_y": -0.15,
        "z_offset": 0
    },
    "KCDebossDraw": {
        "acceleration": 3000,
        "blade_type": "DEBOSS",
        "cut_through_pressure": 0,
        "deform_compensation_x": 0,
        "deform_compensation_y": 0,
        "gradual_lead_in": 3,
        "gradual_lead_in_enable": true,
        "inner_shape_first": true,
        "kc_avoid_short_length": 1,
        "kc_cut_inout": 0.1,
        "kc_lead_in": 3,
        "kc_lead_out": 0.1,
        "kc_overcut": 1,
        "lead_in_pressure": 30,
        "number_of_passes": 1,
        "plate_lead_in": 3,
        "plate_turning": false,
        "plate_turning_pressure": 1,
        "pressure": 100,
        "round_radius": 2,
        "round_the_path": false,
        "small_area_size": 0.05,
        "speed": 100,
        "turning_angle_threshold": 120,
        "turning_pressure": 30,
        "turning_radius": 0.35,
        "u_acceleration": 20,
        "z_compensation_x": 0,
        "z_compensation_y": 0,
        "z_offset": 0
    },
    "KCEngraveDraw": {
        "acceleration": 3000,
        "blade_type": "ENGRAVE",
        "cut_through_pressure": 0,
        "deform_compensation_x": 0,
        "deform_compensation_y": 0,
        "gradual_lead_in": 3,
        "gradual_lead_in_enable": true,
        "inner_shape_first": true,
        "kc_avoid_short_length": 1,
        "kc_cut_inout": 0.1,
        "kc_lead_in": 3,
        "kc_lead_out": 0.1,
        "kc_overcut": 1,
        "lead_in_pressure": 30,
        "number_of_passes": 1,
        "plate_lead_in": 3,
        "plate_turning": false,
        "plate_turning_pressure": 1,
        "pressure": 100,
        "round_radius": 2,
        "round_the_path": false,
        "small_area_size": 0.05,
        "speed": 100,
        "turning_angle_threshold": 120,
        "turning_pressure": 30,
        "turning_radius": 0.35,
        "u_acceleration": 20,
        "z_compensation_x": 0,
        "z_compensation_y": 0,
        "z_offset": 0
    },
    "KCFoilDraw": {
        "acceleration": 3000,
        "blade_type": "FOIL_FINE",
        "cut_through_pressure": 0,
        "deform_compensation_x": 0,
        "deform_compensation_y": 0,
        "gradual_lead_in": 3,
        "gradual_lead_in_enable": true,
        "inner_shape_first": true,
        "kc_avoid_short_length": 1,
        "kc_cut_inout": 0.1,
        "kc_lead_in": 3,
        "kc_lead_out": 0.1,
        "kc_overcut": 1,
        "lead_in_pressure": 30,
        "number_of_passes": 1,
        "plate_lead_in": 3,
        "plate_turning": false,
        "plate_turning_pressure": 1,
        "pressure": 100,
        "round_radius": 2,
        "round_the_path": false,
        "small_area_size": 0.05,
        "speed": 100,
        "turning_angle_threshold": 120,
        "turning_pressure": 30,
        "turning_radius": 0.35,
        "u_acceleration": 20,
        "z_compensation_x": 0,
        "z_compensation_y": 0,
        "z_offset": 0
    },
    "KCPenDraw": {
        "acceleration": 3000,
        "blade_type": "PEN",
        "drawing_direction": "NO_LIMIT",
        "drawing_endtype": "ROUND",
        "number_of_passes": 1,
        "pressure": 45,
        "speed": 50,
        "u_acceleration": 20,
        "z_compensation_x": 0,
        "z_compensation_y": 0,
        "z_offset": 0
    },
    "KCPenDrawFill": {
        "acceleration": 3000,
        "blade_type": "PEN",
        "drawing_fill_interval": 1,
        "drawing_fill_pattern": "LINE",
        "drawing_fill_rotate_angle": 0,
        "drawing_fill_spacing_mode": "AUTO",
        "drawing_outline": true,
        "number_of_passes": 1,
        "pressure": 45,
        "speed": 160,
        "u_acceleration": 20,
        "z_compensation_x": 0,
        "z_compensation_y": 0,
        "z_offset": 0
    },
    "KCPerforateDraw": {
        "acceleration": 3000,
        "blade_type": "PERFORATION",
        "cut_through_pressure": 0,
        "deform_compensation_x": 0,
        "deform_compensation_y": 0,
        "gradual_lead_in": 3,
        "gradual_lead_in_enable": true,
        "inner_shape_first": true,
        "kc_avoid_short_length": 1,
        "kc_cut_inout": 0.1,
        "kc_lead_in": 3,
        "kc_lead_out": 0.1,
        "kc_overcut": 1,
        "lead_in_pressure": 30,
        "number_of_passes": 1,
        "plate_lead_in": 3,
        "plate_turning": false,
        "plate_turning_pressure": 1,
        "pressure": 100,
        "round_radius": 2,
        "round_the_path": false,
        "small_area_size": 0.05,
        "speed": 100,
        "turning_angle_threshold": 120,
        "turning_pressure": 30,
        "turning_radius": 0.35,
        "u_acceleration": 20,
        "z_compensation_x": 0,
        "z_compensation_y": 0,
        "z_offset": 0
    },
    "KCPrintThenCut": {
        "acceleration": 3000,
        "blade_type": "FINE_POINT",
        "cut_through_pressure": 0,
        "deform_compensation_x": 0,
        "deform_compensation_y": 0,
        "gradual_lead_in": 3,
        "gradual_lead_in_enable": true,
        "inner_shape_first": true,
        "kc_avoid_short_length": 1,
        "kc_cut_inout": 0.1,
        "kc_lead_in": 3,
        "kc_lead_out": 0.1,
        "kc_overcut": 1.2,
        "lead_in_pressure": 20,
        "number_of_passes": 2,
        "plate_lead_in": 3,
        "plate_turning": false,
        "plate_turning_pressure": 1,
        "pressure": 230,
        "round_radius": 2,
        "round_the_path": false,
        "small_area_size": 0.05,
        "speed": 35,
        "turning_angle_threshold": 120,
        "turning_pressure": 130,
        "turning_radius": 0.35,
        "u_acceleration": 20,
        "z_compensation_x": 0,
        "z_compensation_y": -0.15,
        "z_offset": 0
    },
    "KCScoreDraw": {
        "acceleration": 3000,
        "blade_type": "DOUBLE_SCORING_WHEEL",
        "cut_through_pressure": 0,
        "deform_compensation_x": 0,
        "deform_compensation_y": 0,
        "gradual_lead_in": 3,
        "gradual_lead_in_enable": true,
        "inner_shape_first": true,
        "kc_avoid_short_length": 1,
        "kc_cut_inout": 0.1,
        "kc_lead_in": 3,
        "kc_lead_out": 0.1,
        "kc_overcut": 1,
        "lead_in_pressure": 30,
        "number_of_passes": 1,
        "plate_lead_in": 3,
        "plate_turning": false,
        "plate_turning_pressure": 1,
        "pressure": 100,
        "round_radius": 2,
        "round_the_path": false,
        "small_area_size": 0.05,
        "speed": 100,
        "turning_angle_threshold": 120,
        "turning_pressure": 30,
        "turning_radius": 0.35,
        "u_acceleration": 20,
        "z_compensation_x": 0,
        "z_compensation_y": 0,
        "z_offset": 0
    },
    "KCWavyCut": {
        "acceleration": 3000,
        "blade_type": "WAVY",
        "cut_through_pressure": 0,
        "deform_compensation_x": 0,
        "deform_compensation_y": 0,
        "gradual_lead_in": 3,
        "gradual_lead_in_enable": true,
        "inner_shape_first": true,
        "kc_avoid_short_length": 1,
        "kc_cut_inout": 0.1,
        "kc_lead_in": 3,
        "kc_lead_out": 0.1,
        "kc_overcut": 1,
        "lead_in_pressure": 30,
        "number_of_passes": 1,
        "plate_lead_in": 3,
        "plate_turning": false,
        "plate_turning_pressure": 1,
        "pressure": 100,
        "round_radius": 2,
        "round_the_path": false,
        "small_area_size": 0.05,
        "speed": 100,
        "turning_angle_threshold": 120,
        "turning_pressure": 30,
        "turning_radius": 0.35,
        "u_acceleration": 20,
        "z_compensation_x": 0,
        "z_compensation_y": 0,
        "z_offset": 0
    },
    "LaserFillEngrave": {
        "acceleration": 3000,
        "air_assistant": true,
        "air_speed": 100,
        "dot_correction": 0,
        "graphic_correction": false,
        "is_cross_scanning": false,
        "is_dual_scanning": true,
        "max_power": 50,
        "number_of_passes": 1,
        "number_of_passes_with_per_line": 2,
        "overscanning_distance": 10,
        "scanning_angle": 0,
        "scanning_fill_mode": "NORMAL",
        "scanning_interval": 0.1,
        "speed": 100,
        "u_acceleration": 20,
        "z_offset": 0
    },
    "LaserImageEngrave": {
        "acceleration": 3000,
        "air_assistant": true,
        "air_speed": 100,
        "clahe_enable": false,
        "clahe_limit": 20,
        "clahe_size": 8,
        "dot_correction": 0,
        "graphic_correction": false,
        "grayscale_power_mapping": false,
        "img_gamma": 1.5,
        "img_mode": "GRAYSCALE",
        "is_cross_scanning": false,
        "is_dual_scanning": true,
        "max_power": 50,
        "min_power": 1,
        "negtive_image": false,
        "number_of_passes": 1,
        "number_of_passes_with_per_line": 2,
        "overscanning_distance": 10,
        "scanning_angle": 0,
        "scanning_interval": 0.1,
        "speed": 100,
        "u_acceleration": 20,
        "z_offset": 0
    },
    "LaserLineCut": {
        "acceleration": 3000,
        "air_assistant": true,
        "air_speed": 100,
        "cut_offset": 0,
        "end_pause_power": 0,
        "end_pause_time": 0,
        "graphic_correction": false,
        "inner_shape_first": true,
        "lower_focus": 0,
        "lower_focus_enable": false,
        "max_power": 50,
        "number_of_passes": 1,
        "overcut": 0,
        "perforation_cut": 0,
        "perforation_mode": false,
        "perforation_skip": 0,
        "speed": 100,
        "spot_correction": false,
        "start_pause_power": 0,
        "start_pause_time": 0,
        "u_acceleration": 20,
        "z_offset": 0
    },
    "LaserLineEngrave": {
        "acceleration": 3000,
        "air_assistant": true,
        "air_speed": 100,
        "graphic_correction": false,
        "lead_in": 0,
        "lead_out": 0,
        "max_power": 50,
        "min_power_coefficient": 0.02,
        "number_of_passes": 1,
        "perforation_cut": 0,
        "perforation_mode": false,
        "perforation_skip": 0,
        "speed": 100,
        "u_acceleration": 20,
        "z_offset": 0
    },
    "LaserPrintThenCut": {
        "acceleration": 3000,
        "air_assistant": true,
        "air_speed": 100,
        "cut_offset": 0,
        "end_pause_power": 0,
        "end_pause_time": 0,
        "graphic_correction": false,
        "inner_shape_first": true,
        "lower_focus": 0,
        "lower_focus_enable": false,
        "max_power": 50,
        "number_of_passes": 1,
        "overcut": 0,
        "perforation_cut": 0,
        "perforation_mode": false,
        "perforation_skip": 0,
        "speed": 100,
        "spot_correction": false,
        "start_pause_power": 0,
        "start_pause_time": 0,
        "u_acceleration": 20,
        "z_offset": 0
    },
    "acceleration": 3000,
    "classVersion": 3,
    "compatible_materials": [
        "Vinyl Sticker Paper A4"
    ],
    "compatible_printers": [
        "Bambu Lab H2S-10W"
    ],
    "from": "project",
    "name": "Custom Vinyl Sticker Paper A4 Process @Bambu Lab H2S-10W Plane",
    "number_of_passes": 1,
    "process_type": "LaserLineEngrave",
    "process_types": [
        "KCBasicCut",
        "KCPrintThenCut"
    ],
    "speed": 50,
    "type": "process",
    "u_acceleration": 20,
    "vendor": "Global",
    "z_offset": 0
}
