{
    "category": "Paper",
    "classVersion": 3,
    "description": "The material is suitable for Bambu Lab H2D-10W,Bambu Lab H2D-40W, you can choose different Processing Types.",
    "from": "project",
    "material_checkin_start_time": 600,
    "material_cutting_mat": "LIGHT_GRIP",
    "material_flammability": "M0",
    "material_id": "PM_bf7086f1-fd13-4c5b-9dfb-4b048a01798e",
    "material_process_feature": 0,
    "material_processing_modes": 1,
    "material_rotary_height": 0,
    "material_rotary_length": 0,
    "material_rotary_radius": 0,
    "material_support_comp": "SUPPORT_COMP_BLADE",
    "material_thickness": 0.24,
    "material_vendor": "TeckWrap",
    "name": "Vinyl Sticker Paper A4",
    "type": "filament",
    "vendor": "Global",
    "version": "01.02.01.00"
}
